*{
    margin: 0px;
}
#app{
    width:100%;
    background-color: rgb(192, 118, 118);
    height: 650px;
    /*transform: translate(0%,15%);*/
    font-family: cursive;
    margin-top: 0px;


}
main p{
    width:100%;
    text-align: center;
    height: 50px;
    background-color: azure;
    line-height: 50px;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 2px solid gray;

    
}
#title{
    font-size: 27px;
    font-family: cursive;
    letter-spacing: 2px;
}
#nav{
    background-image: linear-gradient(45deg,rgb(49 45 52) ,  bisque);
    margin-bottom: 0px;
    height: 150px;
}
main select {
    width: 100%;
    text-align: center;
    font-family: fantasy;
    letter-spacing: 2px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(160, 154, 165);
    font-size: 17px;
    margin-top: 0px;
}
main textarea{
    outline: none;
    font-size: 17px;
    width:99%;
    background-color: bisque;
    border-radius: 14px;
    border-right: 1px solid rgb(97, 47, 55);
    border:3px solid rgb(97, 47, 55);
    height:142px ;
    margin-bottom: 0px;
}